<a href="https://colab.research.google.com/github/Sumit-Nayek/Data-Analytics-ans-Statistics-Assignment/blob/main/Code_mannual_assignment_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
## 1
import pandas as pd

# Create a demo dataset for monthly sales data
data = {
    'sales_rep_id': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'region': ['North', 'South', 'East', 'West', 'North', 'East', 'South', 'West', 'North', 'South'],
    'month': ['January', 'January', 'January', 'January', 'February', 'February', 'February', 'February', 'March', 'March'],
    'total_sales': [1500, 2000, 1800, 2200, 1600, 2100, 1900, 2300, 1700, 2500]
}

# Convert the dictionary to a pandas DataFrame
df = pd.DataFrame(data)

# Display the dataset
print("Original Dataset:")

## Sorting the data
print(df)# Sort the dataset by region and total_sales
sorted_df = df.sort_values(by=['region', 'total_sales'], ascending=[True, False])
# Display the sorted dataset
print("\nSorted Dataset (by Region and Total Sales):")
print(sorted_df)

## Data Augmentation
# Create a new column 'quarter' based on the month column
month_to_quarter = {
    'January': 'Q1', 'February': 'Q1', 'March': 'Q1',
    'April': 'Q2', 'May': 'Q2', 'June': 'Q2',
    'July': 'Q3', 'August': 'Q3', 'September': 'Q3',
    'October': 'Q4', 'November': 'Q4', 'December': 'Q4'
}
df['quarter'] = df['month'].map(month_to_quarter)

## Data concatination
# Subset the data for each quarter
q1_data = df[df['quarter'] == 'Q1']
q2_data = df[df['quarter'] == 'Q2']
q3_data = df[df['quarter'] == 'Q3']
q4_data = df[df['quarter'] == 'Q4']

# Concatenate the subsets to form a single dataset
quarterly_performance = pd.concat([q1_data, q2_data, q3_data, q4_data])

# Display the quarterly performance data
print("\nQuarterly Performance Data:")
print(quarterly_performance)
# Group by region and sales_rep_id and calculate the average total sales per quarter
average_sales = df.groupby(['region', 'sales_rep_id']).agg(
    average_sales_per_quarter=('total_sales', 'mean')
).reset_index()

# Display the average sales per quarter for each representative in each region
print("\nAverage Sales per Quarter (Grouped by Region and Sales Rep):")
print(average_sales)

Original Dataset:
   sales_rep_id region     month  total_sales
0           101  North   January         1500
1           102  South   January         2000
2           103   East   January         1800
3           104   West   January         2200
4           105  North  February         1600
5           106   East  February         2100
6           107  South  February         1900
7           108   West  February         2300
8           109  North     March         1700
9           110  South     March         2500

Sorted Dataset (by Region and Total Sales):
   sales_rep_id region     month  total_sales
5           106   East  February         2100
2           103   East   January         1800
8           109  North     March         1700
4           105  North  February         1600
0           101  North   January         1500
9           110  South     March         2500
1           102  South   January         2000
6           107  South  February         1900
7           108   West  February         2300
3           104   West   January         2200

Quarterly Performance Data:
   sales_rep_id region     month  total_sales quarter
0           101  North   January         1500      Q1
1           102  South   January         2000      Q1
2           103   East   January         1800      Q1
3           104   West   January         2200      Q1
4           105  North  February         1600      Q1
5           106   East  February         2100      Q1
6           107  South  February         1900      Q1
7           108   West  February         2300      Q1
8           109  North     March         1700      Q1
9           110  South     March         2500      Q1

Average Sales per Quarter (Grouped by Region and Sales Rep):
  region  sales_rep_id  average_sales_per_quarter
0   East           103                     1800.0
1   East           106                     2100.0
2  North           101                     1500.0
3  North           105                     1600.0
4  North           109                     1700.0
5  South           102                     2000.0
6  South           107                     1900.0
7  South           110                     2500.0
8   West           104                     2200.0
9   West           108                     2300.0

In [8]:
## 2
import pandas as pd

# Sample dataset
data = pd.DataFrame({
    'product_id': [1, 2, 3, 4, 5, 6],
    'category': ['Electronics', 'Furniture', 'Electronics', None, 'Furniture', 'Toys'],
    'price': [200, 500, 0, 150, 300, -10],
    'stock': [10, 5, 3, 0, 7, 6],
    'monthly_sales': [15, 10, 5, 20, 8, 12]
})

print("Original Data:")
print(data)

# Step 1: Data Cleaning
data = data[(data['price'] > 0) & (data['stock'] > 0)]
data['category'].fillna('Other', inplace=True)

print("\nData after Cleaning:")
print(data)

# Step 2: Data Subsetting
top_categories = data.groupby('category')['monthly_sales'].sum().nlargest(3).index
top_data = data[data['category'].isin(top_categories)]

print("\nTop 3 Best-Selling Categories Data:")
print(top_data)

# Step 3: Modification
top_data['sales_revenue'] = top_data['monthly_sales'] * top_data['price']

print("\nData with Sales Revenue Column:")
print(top_data)

# Step 5: Aggregation
aggregated_data = top_data.groupby('category')['sales_revenue'].agg(['sum', 'mean']).reset_index()
aggregated_data.columns = ['category', 'total_revenue', 'average_revenue']

print("\nTotal and Average Revenue per Category:")
print(aggregated_data)

Original Data:
   product_id     category  price  stock  monthly_sales
0           1  Electronics    200     10             15
1           2    Furniture    500      5             10
2           3  Electronics      0      3              5
3           4         None    150      0             20
4           5    Furniture    300      7              8
5           6         Toys    -10      6             12

Data after Cleaning:
   product_id     category  price  stock  monthly_sales
0           1  Electronics    200     10             15
1           2    Furniture    500      5             10
4           5    Furniture    300      7              8

Top 3 Best-Selling Categories Data:
   product_id     category  price  stock  monthly_sales
0           1  Electronics    200     10             15
1           2    Furniture    500      5             10
4           5    Furniture    300      7              8

Data with Sales Revenue Column:
   product_id     category  price  stock  monthly_sales  sales_revenue
0           1  Electronics    200     10             15           3000
1           2    Furniture    500      5             10           5000
4           5    Furniture    300      7              8           2400

Total and Average Revenue per Category:
      category  total_revenue  average_revenue
0  Electronics           3000           3000.0
1    Furniture           7400           3700.0

<ipython-input-8-1bd9638e338b>:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['category'].fillna('Other', inplace=True)

In [10]:
## 3
import pandas as pd
from datetime import datetime, timedelta

# Sample data
data = pd.DataFrame({
    'customer_id': [1, 2, 1, 3, 2, 1, 3, 4, 4, 2],
    'transaction_amount': [100, -50, 200, 300, 250, 150, -200, 400, 0, 500],
    'transaction_type': ['deposit', 'withdrawal', 'deposit', 'deposit', 'deposit', 'deposit', 'withdrawal', 'deposit', 'deposit', 'deposit'],
    'transaction_date': [
        datetime.now() - timedelta(days=i*30) for i in range(10)
    ]
})

print("Original Data:")
print(data)

# Step 1: Data Cleaning
data = data.dropna(subset=['transaction_amount'])  # Drop rows with NaN in 'transaction_amount'
data = data[~((data['transaction_type'] == 'deposit') & (data['transaction_amount'] <= 0))]

print("\nData after Cleaning:")
print(data)

# Step 2: Data Subsetting
six_months_ago = datetime.now() - timedelta(days=180)
recent_data = data[data['transaction_date'] >= six_months_ago]

print("\nTransactions from the Last 6 Months:")
print(recent_data)

# Step 3: Modification
recent_data['transaction_fee'] = recent_data['transaction_amount'] * 0.01

print("\nData with Transaction Fee Column:")
print(recent_data)

# Step 4: Sorting
sorted_data = recent_data.sort_values(by=['transaction_type', 'transaction_amount'], ascending=[True, False])

print("\nSorted Transactions by Type and Amount:")
print(sorted_data)

# Step 5: Aggregation
aggregated_data = recent_data.groupby(['customer_id', 'transaction_type'])['transaction_amount'].sum().unstack(fill_value=0)
aggregated_data.columns = ['total_deposits', 'total_withdrawals']

print("\nTotal Deposits and Withdrawals per Customer (last 6 months):")
print(aggregated_data)

Original Data:
   customer_id  transaction_amount transaction_type           transaction_date
0            1                 100          deposit 2024-11-06 12:29:21.388288
1            2                 -50       withdrawal 2024-10-07 12:29:21.388297
2            1                 200          deposit 2024-09-07 12:29:21.388302
3            3                 300          deposit 2024-08-08 12:29:21.388303
4            2                 250          deposit 2024-07-09 12:29:21.388305
5            1                 150          deposit 2024-06-09 12:29:21.388307
6            3                -200       withdrawal 2024-05-10 12:29:21.388309
7            4                 400          deposit 2024-04-10 12:29:21.388310
8            4                   0          deposit 2024-03-11 12:29:21.388312
9            2                 500          deposit 2024-02-10 12:29:21.388314

Data after Cleaning:
   customer_id  transaction_amount transaction_type           transaction_date
0            1                 100          deposit 2024-11-06 12:29:21.388288
1            2                 -50       withdrawal 2024-10-07 12:29:21.388297
2            1                 200          deposit 2024-09-07 12:29:21.388302
3            3                 300          deposit 2024-08-08 12:29:21.388303
4            2                 250          deposit 2024-07-09 12:29:21.388305
5            1                 150          deposit 2024-06-09 12:29:21.388307
6            3                -200       withdrawal 2024-05-10 12:29:21.388309
7            4                 400          deposit 2024-04-10 12:29:21.388310
9            2                 500          deposit 2024-02-10 12:29:21.388314

Transactions from the Last 6 Months:
   customer_id  transaction_amount transaction_type           transaction_date
0            1                 100          deposit 2024-11-06 12:29:21.388288
1            2                 -50       withdrawal 2024-10-07 12:29:21.388297
2            1                 200          deposit 2024-09-07 12:29:21.388302
3            3                 300          deposit 2024-08-08 12:29:21.388303
4            2                 250          deposit 2024-07-09 12:29:21.388305
5            1                 150          deposit 2024-06-09 12:29:21.388307

Data with Transaction Fee Column:
   customer_id  transaction_amount transaction_type  \
0            1                 100          deposit
1            2                 -50       withdrawal
2            1                 200          deposit
3            3                 300          deposit
4            2                 250          deposit
5            1                 150          deposit

            transaction_date  transaction_fee
0 2024-11-06 12:29:21.388288              1.0
1 2024-10-07 12:29:21.388297             -0.5
2 2024-09-07 12:29:21.388302              2.0
3 2024-08-08 12:29:21.388303              3.0
4 2024-07-09 12:29:21.388305              2.5
5 2024-06-09 12:29:21.388307              1.5

Sorted Transactions by Type and Amount:
   customer_id  transaction_amount transaction_type  \
3            3                 300          deposit
4            2                 250          deposit
2            1                 200          deposit
5            1                 150          deposit
0            1                 100          deposit
1            2                 -50       withdrawal

            transaction_date  transaction_fee
3 2024-08-08 12:29:21.388303              3.0
4 2024-07-09 12:29:21.388305              2.5
2 2024-09-07 12:29:21.388302              2.0
5 2024-06-09 12:29:21.388307              1.5
0 2024-11-06 12:29:21.388288              1.0
1 2024-10-07 12:29:21.388297             -0.5

Total Deposits and Withdrawals per Customer (last 6 months):
             total_deposits  total_withdrawals
customer_id
1                       450                  0
2                       250                -50
3                       300                  0

<ipython-input-10-3680bad1bc62>:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  recent_data['transaction_fee'] = recent_data['transaction_amount'] * 0.01

In [13]:
## 4
import pandas as pd
from datetime import datetime, timedelta

# Sample dataset with patient information
data = pd.DataFrame({
    'patient_id': [1, 2, 3, 4, 5],
    'age': [25, None, 35, 40, 50],  # Patient 2 has missing age
    'gender': ['M', 'F', 'M', 'M', None],  # Patient 5 has missing gender
    'diagnosis': ['Diabetes', 'Hypertension', 'Diabetes', 'Hypertension', 'Diabetes'],
    'treatment_start_date': [
        datetime.now() - timedelta(days=30),  # 30 days ago
        datetime.now() - timedelta(days=90),  # 90 days ago
        datetime.now() - timedelta(days=60),  # 60 days ago
        datetime.now() - timedelta(days=120),  # 120 days ago
        datetime.now() - timedelta(days=150)   # 150 days ago
    ],
    'treatment_end_date': [
        datetime.now() - timedelta(days=15),  # 15 days ago
        datetime.now() - timedelta(days=60),  # 60 days ago
        datetime.now() - timedelta(days=30),  # 30 days ago
        datetime.now() - timedelta(days=90),  # 90 days ago
        datetime.now() - timedelta(days=120)  # 120 days ago
    ],
    'treatment_cost': [2000, 1500, 2500, 1800, 2200]
})

# Step 1: Data Cleaning
cleaned_data = data.dropna(subset=['age', 'gender'])

# Step 2: Data Subsetting
diabetes_data = cleaned_data[cleaned_data['diagnosis'] == 'Diabetes']
hypertension_data = cleaned_data[cleaned_data['diagnosis'] == 'Hypertension']

# Step 3: Modification
cleaned_data.loc[:, 'treatment_duration'] = (cleaned_data['treatment_end_date'] - cleaned_data['treatment_start_date']).dt.days

# Step 4: Sorting
sorted_data = cleaned_data.sort_values(by='treatment_cost', ascending=False)

# Step 5: Aggregation
aggregation = cleaned_data.groupby('diagnosis').agg(
    average_treatment_cost=('treatment_cost', 'mean'),
    average_treatment_duration=('treatment_duration', 'mean')
).reset_index()

print("\nAverage Treatment Cost and Duration by Diagnosis:")
print(aggregation)


# Display the results
print("Original Data:")
print(data)
print("\nData after Cleaning:")
print(cleaned_data)
print("\nData for Diabetes Patients:")
print(diabetes_data)
print("\nData for Hypertension Patients:")
print(hypertension_data)
print("\nData with Treatment Duration Column:")
print(cleaned_data)
print("\nSorted Data by Treatment Cost (Descending):")
print(sorted_data)
print("\nAverage Treatment Cost and Duration by Diagnosis:")
print(aggregation)

Average Treatment Cost and Duration by Diagnosis:
      diagnosis  average_treatment_cost  average_treatment_duration
0      Diabetes                  2250.0                        22.5
1  Hypertension                  1800.0                        30.0
Original Data:
   patient_id   age gender     diagnosis       treatment_start_date  \
0           1  25.0      M      Diabetes 2024-10-07 12:35:29.955681
1           2   NaN      F  Hypertension 2024-08-08 12:35:29.955692
2           3  35.0      M      Diabetes 2024-09-07 12:35:29.955694
3           4  40.0      M  Hypertension 2024-07-09 12:35:29.955696
4           5  50.0   None      Diabetes 2024-06-09 12:35:29.955698

          treatment_end_date  treatment_cost
0 2024-10-22 12:35:29.955700            2000
1 2024-09-07 12:35:29.955702            1500
2 2024-10-07 12:35:29.955704            2500
3 2024-08-08 12:35:29.955706            1800
4 2024-07-09 12:35:29.955708            2200

Data after Cleaning:
   patient_id   age gender     diagnosis       treatment_start_date  \
0           1  25.0      M      Diabetes 2024-10-07 12:35:29.955681
2           3  35.0      M      Diabetes 2024-09-07 12:35:29.955694
3           4  40.0      M  Hypertension 2024-07-09 12:35:29.955696

          treatment_end_date  treatment_cost  treatment_duration
0 2024-10-22 12:35:29.955700            2000                  15
2 2024-10-07 12:35:29.955704            2500                  30
3 2024-08-08 12:35:29.955706            1800                  30

Data for Diabetes Patients:
   patient_id   age gender diagnosis       treatment_start_date  \
0           1  25.0      M  Diabetes 2024-10-07 12:35:29.955681
2           3  35.0      M  Diabetes 2024-09-07 12:35:29.955694

          treatment_end_date  treatment_cost
0 2024-10-22 12:35:29.955700            2000
2 2024-10-07 12:35:29.955704            2500

Data for Hypertension Patients:
   patient_id   age gender     diagnosis       treatment_start_date  \
3           4  40.0      M  Hypertension 2024-07-09 12:35:29.955696

          treatment_end_date  treatment_cost
3 2024-08-08 12:35:29.955706            1800

Data with Treatment Duration Column:
   patient_id   age gender     diagnosis       treatment_start_date  \
0           1  25.0      M      Diabetes 2024-10-07 12:35:29.955681
2           3  35.0      M      Diabetes 2024-09-07 12:35:29.955694
3           4  40.0      M  Hypertension 2024-07-09 12:35:29.955696

          treatment_end_date  treatment_cost  treatment_duration
0 2024-10-22 12:35:29.955700            2000                  15
2 2024-10-07 12:35:29.955704            2500                  30
3 2024-08-08 12:35:29.955706            1800                  30

Sorted Data by Treatment Cost (Descending):
   patient_id   age gender     diagnosis       treatment_start_date  \
2           3  35.0      M      Diabetes 2024-09-07 12:35:29.955694
0           1  25.0      M      Diabetes 2024-10-07 12:35:29.955681
3           4  40.0      M  Hypertension 2024-07-09 12:35:29.955696

          treatment_end_date  treatment_cost  treatment_duration
2 2024-10-07 12:35:29.955704            2500                  30
0 2024-10-22 12:35:29.955700            2000                  15
3 2024-08-08 12:35:29.955706            1800                  30

Average Treatment Cost and Duration by Diagnosis:
      diagnosis  average_treatment_cost  average_treatment_duration
0      Diabetes                  2250.0                        22.5
1  Hypertension                  1800.0                        30.0

<ipython-input-13-7160aa69487d>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_data.loc[:, 'treatment_duration'] = (cleaned_data['treatment_end_date'] - cleaned_data['treatment_start_date']).dt.days

In [15]:
## 5
import pandas as pd
import numpy as np

# Create demo dataset
data = {
    'customer_id': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'age': [22, 35, 28, np.nan, 45, 60, 50, 24, np.nan, 30],
    'income': [45000, 55000, 50000, 60000, np.nan, 70000, 65000, 48000, 52000, np.nan],
    'total_purchase': [200, 150, 180, 120, 250, 300, 350, 220, 210, 190],
    'purchase_frequency': [5, 3, 4, 2, 6, 8, 7, 5, 4, 3]
}
df = pd.DataFrame(data)

# Task A: Data Cleaning (Remove Duplicates & Fill Missing Values)
df_cleaned = df.drop_duplicates()
df_cleaned['age'].fillna(df_cleaned['age'].median(), inplace=True)
df_cleaned['income'].fillna(df_cleaned['income'].median(), inplace=True)

# Task B: Data Subsetting (Based on Age Groups)
df_cleaned['age_group'] = pd.cut(df_cleaned['age'], bins=[0, 25, 40, 60, np.inf], labels=['<25', '25-40', '40-60', '>60'])

# Task C: Modification (Customer Lifetime Value)
df_cleaned['customer_lifetime_value'] = df_cleaned['total_purchase'] * df_cleaned['purchase_frequency']

# Task D: Sorting (By Customer Lifetime Value)
df_sorted = df_cleaned.sort_values(by='customer_lifetime_value', ascending=False)

# Task E: Aggregation (Average Spending by Age Group)
average_spending_by_age_group = df_cleaned.groupby('age_group').agg(
    average_spending=('customer_lifetime_value', 'mean')
).reset_index()

# Display results
print("Cleaned Dataset:")
print(df_cleaned)
print("\nSorted Dataset by Customer Lifetime Value:")
print(df_sorted[['customer_id', 'customer_lifetime_value']])
print("\nAverage Spending by Age Group:")
print(average_spending_by_age_group)

Cleaned Dataset:
   customer_id   age   income  total_purchase  purchase_frequency age_group  \
0            1  22.0  45000.0             200                   5       <25
1            2  35.0  55000.0             150                   3     25-40
2            3  28.0  50000.0             180                   4     25-40
3            4  32.5  60000.0             120                   2     25-40
4            5  45.0  53500.0             250                   6     40-60
5            6  60.0  70000.0             300                   8     40-60
6            7  50.0  65000.0             350                   7     40-60
7            8  24.0  48000.0             220                   5       <25
8            9  32.5  52000.0             210                   4     25-40
9           10  30.0  53500.0             190                   3     25-40

   customer_lifetime_value
0                     1000
1                      450
2                      720
3                      240
4                     1500
5                     2400
6                     2450
7                     1100
8                      840
9                      570

Sorted Dataset by Customer Lifetime Value:
   customer_id  customer_lifetime_value
6            7                     2450
5            6                     2400
4            5                     1500
7            8                     1100
0            1                     1000
8            9                      840
2            3                      720
9           10                      570
1            2                      450
3            4                      240

Average Spending by Age Group:
  age_group  average_spending
0       <25       1050.000000
1     25-40        564.000000
2     40-60       2116.666667
3       >60               NaN

<ipython-input-15-6e8cc4faa969>:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['age'].fillna(df_cleaned['age'].median(), inplace=True)
<ipython-input-15-6e8cc4faa969>:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['income'].fillna(df_cleaned['income'].median(), inplace=True)
<ipython-input-15-6e8cc4faa969>:30: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  average_spending_by_age_group = df_cleaned.groupby('age_group').agg(

In [17]:
df.columns

Index(['customer_id', 'age', 'income', 'total_purchase', 'purchase_frequency'], dtype='object')